.youtubeVideo>iframe{
    width:45vw;
    height:30vw;
}


@media screen and (max-width: 1000px) {
    .youtubeVideo>iframe{
        width: 100%;
        height: 50vh;
    }
    .movieDetails {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .youtubeVideo>iframe{
        height: 25vh;
    }
    .movieDetails> .movieText {
        margin-top: 1rem;
        flex-direction: column;
        margin-left: 0;
    }
}